.themeButton {
	background-color: var(--c-template);
}
.themeButton:hover {
	background-color: var(--c-template);
	color: var(--c-text-primary);
}

@media screen and (max-width: 1240px) {
	.themeButton {
		width: 46px;
		height: 46px;
	}
}
